<div class="center">
  <div class="header"><img src="/images/logo.png" width="251" height="92" align="left"/>

    <div class="navbar"></div>

  </div>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>User ID:</b>
  <%= @user.id %>
</p>

<p>
  <b>Orders:</b>
  <%# @user.order_id %>
</p>

 </div>