<div class="center">
  <div class="header"><img src="/images/logo.png" width="251" height="92" align="left"/>

    <div class="navbar"></div>

  </div>

<div class="center">
<div class="header"><img src="/images/logo.png" width="251" height="92" align="left" />

 <div class="navbar"></div>

</div>


<h1>Sign Up</h1>
<p>And stay in tune with Rare Sounds</p>
<div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email  %><br />
    <%= label_tag :password  %><br />
    <%= password_field_tag :password  %>
</div>




<div class="footer"></div>
</div>

    </div>