<h1>Sign Up</h1>
<p>And stay in tune with Rare Sounds</p>
<div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email  %><br />
    <%= label_tag :password  %><br />
    <%= password_field_tag :password  %>
</div>