<div class="center">
  <div class="header"><img src="/images/logo.png" width="251" height="92" align="left"/>

    <div class="navbar"></div>

  </div>
<h1>New order</h1>

<div class="depot_form">
  <fieldset>
    <legend>Please Enter Your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>



<%= link_to 'Back', orders_path %>


    </div>
