<div class="center">
  <div class="header"><img src="/images/logo.png" width="251" height="92" align="left"/>

    <div class="navbar"></div>

  </div>
<h1>New cart</h1>

<%= render 'form' %>

<%= link_to 'Back', carts_path %>

   <div class="footer"></div>

    </div>